*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: url(image/vue-du-bateau-flottant-eau.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    display: flex;
    align-items: center;
    position: absolute;
}
.logo img{
    height: 5rem;
}
.icon a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    border: 2px transparent solid;
}
.icon li{
    list-style: none;
    margin-right: 4rem;
   
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    left: 42rem;
    position: absolute;
}
.icon a:hover{
    border: 2px white solid;
    transition: 0.6s;
}
.all{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.438);
}
.taha{
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 4vh;
    font-weight: 900;
    display: inline-block;
}
.boton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.boton button{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin: 5px;
    cursor: pointer;
    padding: 7px 1rem;
    text-transform: uppercase;
    font-weight: 300;
}
.boton button:hover{
    background-color:white;
    color:black ;
    border: 1px solid black;
    transition: 0.6s;
}

@media (min-width:0px ) and (max-width: 700px){
    .icon a{
        color: red;
    }
}