


.trtib{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.trtib a{
    text-decoration: none;
}
img{
    width: 20rem;
}
.bateau{
    border: 1px solid black;
    margin: 2rem;
}
h3{
    color: black;
    text-align: center;
    text-transform: uppercase;
    transition: 0.3s;
}

h3:hover{
    color: blue;
    transform: scale(1.2);
}
